@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="Upload">Upload new file...</a>
    <div class="d-flex flex-column align-items-center">

        @foreach (var item in Model.Images)
        {
            <partial name="_Image" model="item" />
        }
    </div>
</div>
