@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Email</li>
            }
        </ul>
    </div>
</div>
